ul{
    list-style: none;
    font-size: large;
}
li{
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border: 14px;
}
.one{
    background-color: lightgrey;
}
body{
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
. lighting-color{
    color: #6cb840;
    
}

}
.button{
    border: 2px solid #6CB840;
    font-weight: bolder;
    text-transform: capitalize;
    text-decoration: none;
    background-color: #6CB840;
    border: 200px;
    margin-top: 5px;
    margin-bottom: 70px;
    color: white;
    margin-left: 65px;
}
#margin{
    margin-left: 65px;
    
}
.image1{
    position: relative;
    right: 100px;
    width: 70%;
    margin-left: 100px;
}
#section-1{
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
}
#section-1 >div{
    padding: 3px;
    margin-right: 90px;
    margin-top: 80px;
    margin-left: 7px;
}
.image1{
    width: 55%;
}
.title{
    margin-bottom: 100px;
    text-align: center;
}
#section-2 .row{
    margin: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}