.home{
    background-color:rgb(222, 223, 224);
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    flex-grow: inherit;
}
nav1{font-size: xx-large;
    text-align: center;
    background-color: rosybrown;
    font-style: italic;
    text-decoration: yellowgreen;
    font-family: 'Courier New', Courier, monospace;
}
#section-2 {
    display: flex;
    text-align: center;
    flex-wrap: nowrap;
    flex-direction: row;
}
#section-2 > div{
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 0px;
    padding: 2px;
}
#margin{
    margin-left: 65px;
    
}
.image1{
    position: relative;
    right: 100px;
    width: 50%;
    margin-left: 100px;
    
    
}